.login-form{
    background: url(../img/banner.png) 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 630px;
    position: relative;
}
table
{

  transform: translateY(80px);
  background-color:#000;
  opacity: 0.5;
  width: 50%;
  text-align: center; 
}
table input
{
  height: 40px;
  width:80%;
  margin: 30px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color:#1a1a1a;
  color:#fff; 
  font-size: 20px;
}
table h1
{
  width:100%;
  padding:15px;
  background-color:#1a1aff;
  color: #fff; 
  font-size: 35px;
  font-family: sans-serif;
  margin-top: 0px;
  font-weight:bold;
}
.login
{
  text-align: center;
  height: 35px;
  width:80%;
  margin: 50px;
  margin-bottom:20px;
  color: #fff;
  background-color:#1a1aff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
.signup
{
  text-align: center;
  height:20px;
  width:100px;
  padding:5px;
  color: #fff;
  background-color:#1a1aff;
  border-radius: 10px;
}